<!DOCTYPE html>
<html lang="en">
<head>
  <title>Robot Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="robot.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="robot_controller.js"></script>


</head>
<body>
  <div class="container" ng-app="robots" ng-controller="RobotsController">
    <div class="row main-row">
      <div class="col-sm-6">
          <form>
            <div class="form-group row">
                <div class="col-sm-8">
                  <label for="Robot type">Robot type:</label>
                  <select class="form-control input-lg" ng-model="type" ng-options="x for x in robotType">
                    <option value="" selected>Select...</option>
                  </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-8">
                <label for="Robot type">Robot Color:</label>
                <select class="form-control input-lg" placeholder="Robot Color" ng-model="color" ng-options="y for y in robotColor">
                  <option value="" selected>Select...</option>
                </select>

            </div>
            </div>
            <button type="button" ng-click="buildMyBot(type, color);" class="btn btn-success btn-lg">Build My Bot</button>
            </form>

      </div>
      <div class="col-sm-6">
        <div ng-if = "robotTable && robotTable.length <= 0" class="flex-container">
          <div class= "default-text">Add Some Robots</div>
        </div>
        <div ng-if = "robotTable && robotTable.length > 0" class="show-table">
          <div  class="table-responsive">
            <table class="table table-bordered">
              <tr ng-repeat="x in robotTable">
                  <td>{{ x.botType }}</td>
                  <td>{{ x.botColor }}</td>
                  <td><span class="removeBtn" ng-click="removeBot(x.botType, x.botColor, $index);">Remove</span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
